#main-header {
    background-color: #ad69bb; /* background */
    color: white; /* White text color */
    padding: 20px; /* Padding inside the header */
    text-align: center; /* Centered text */
}

.title {
    font-family: 'Georgia', 'Times New Roman',serif; /* Font family */
    font-size: 40px; /* Font size */
    font-style: bold, italic; /* Bold text */
    margin: 0; /* No margin */
}

.content {
    margin: 20px; /* Margin around the content */
    padding: 15px; /* Padding inside the content */
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    font-family: 'Georgia', 'Times New Roman',serif; /* Font family */
    font-size: 40px; /* Font size */
    font-style: normal; /* Normal text */
    color: white; /* White text color */
    background-color: #ad69bb; /* background */ 
    opacity: 0.3; /* Opacity */
    text-align: center; /* Centered text */
}

.ul{
    font-family: 'Georgia', 'Times New Roman',serif; 
    font-size: 16px; line-height: 1.5; text-align: justify; /* Justified text */
}

.ol{
    font-family: 'Georgia', 'Times New Roman',serif; 
    font-size: 16px; line-height: 1.5; text-align: justify; /* Justified text */
}